<div class="padded-content-page" ng-controller="chartManager">
<link href='/app/examples/charts/example.css' rel='stylesheet' type='text/css' />
    <p class="md-subhead">Example meteo</p>
    <md-button class="md-fab" aria-label="fab button" ng-click="addChart()">
        <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
    </md-button>

     <div class="example-code md-whiteframe-z1 margin-bottom-20" ng-show="showAddMenu">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Select chart options</h2>
            </div>
        </md-toolbar>
        <div class="md-tabs-content padding-40">
            <md-card>
                <md-select placeholder="Choose a city" ng-model="chartOption.city">
                    <md-option value="Paris">Paris</md-option>
                    <md-option value="Lyon">Lyon</md-option>
                    <md-option value="Geneve">Geneve</md-option>
                    <md-option value="Lausanne">Lausanne</md-option>
                </md-select>
            </md-card>

            <md-card>
                <md-select placeholder="Choose a graph type" ng-model="chartOption.type">
                    <md-option value="Bar">Bar</md-option>
                    <md-option value="Line">Line</md-option>
                </md-select>
            </md-card>
            
            <md-button class="md-raised" ng-class="['md-primary']" aria-label="raised button" ng-click="add()">Add</md-button>
            <md-button class="md-raised" ng-class="['md-warn']" aria-label="raised button" ng-click="cancel()">Cancel</md-button>
        </div>
     </div>

     <md-grid-list md-cols-gt-md="12" md-cols-xs="3" md-cols-md="8" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="16px" md-gutter-gt-xs="8px" md-gutter="4px">
      

      <md-grid-tile  md-colspan-gt-xs="2" md-rowspan-gt-xs="2" ng-style="::{ 'background':'blue' }">
        </md-grid-tile>
     
        
    </md-grid-list>
   

    <!-- <div class='parent'>
        <div class='wrapper'>
          <div class='container' dragula='"first-bag"'>

            <md-card>
               <div class="content-padded">
                  <h2 class="md-title">Meteo Test live</h2>
                   <md-card-content ng-controller="ChartJsTickerController as vm" ng-include="'app/examples/charts/examples/chartjs-ticker.tmpl.html'"></md-card-content>
                   <md-divider></md-divider>
                    <div class="button-toolbar" layout="row" layout-align="start center">
                        <md-button class="md-accent">Share</md-button>
                        <md-button class="md-accent">Print</md-button>
                        <md-button class="md-accent">Refresh</md-button>
                    </div>
                  </div>
                </md-card>
                
            <div ng-repeat="chart in chartsLine">
               <md-card>
               <div class="content-padded">
                  <h2 class="md-title">Meteo {{chart.city}}</h2>
                   <canvas class="chart-line" chart-data="chart.data" chart-labels="chart.labels" chart-legend="true" chart-series="chart.series"></canvas>
                   <md-divider></md-divider>
                    <div class="button-toolbar" layout="row" layout-align="start center">
                        <md-button class="md-accent">Share</md-button>
                        <md-button class="md-accent">Print</md-button>
                        <md-button class="md-accent">Refresh</md-button>
                    </div>
                  </div>
                </md-card>
            </div>
            <div ng-repeat="chart in chartsBar">
                <md-card>
                  <div class="content-padded">
                    <h2 class="md-title">Meteo {{chart.city}}</h2>
                    <canvas class="chart-bar" chart-data="chart.data" chart-labels="chart.labels" chart-legend="true" chart-series="chart.series"></canvas>
                    <md-divider></md-divider>
                    <div class="button-toolbar" layout="row" layout-align="start center">
                        <md-button class="md-accent">Share</md-button>
                        <md-button class="md-accent">Print</md-button>
                        <md-button class="md-accent">Refresh</md-button>
                    </div>
                  </div>
                </md-card>
            </div>
          </div>
          <div class='container' dragula='"first-bag"'>

          </div>
          </div>
    </div> -->
</div>
<script src="app/examples/charts/chartManagerCtrl.js"></script>

